In [1]:
val = 10

if val > 5:
    print("변수값이 5보다 크다면 출력")
    
money = 10

if money < 100:
    item = "apple"
else:
    item = "banana"
    print("이건 왜 안되고")
print("이건 왜 되고")
    
print(item)

변수값이 5보다 크다면 출력
이건 왜 되고
apple

In [2]:
score = int(input(('점수 입력: ')))

if 80 <= score < 90:
    grade = "B"
elif 90 <= score <= 100:
    grade = "A"
elif 70 <= score < 80:
    grade = "C"
elif 60 <= score < 70:
    grade = "D"
else:
    grade = "F"
    
print("등급: " + grade)

점수 입력: 98
등급: A

In [3]:
val = 5
while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [4]:
lists = ['Apple', 100, 15.33]
for i in lists:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [5]:
d = {"Apple": 100, "Orange": 200, "Banana": 300}
for k, v in d.items():
    print(k, v)

Apple 100
Orange 200
Banana 300

In [6]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
numList = range(1, 11)

for i in numList:
    if i > 5:
        break;
    print("item: {0}".format(i))

item: 1
item: 2
item: 3
item: 4
item: 5

In [8]:
# ㅃㄷㄱㄹ
for i in numList:
    if i % 2 == 0:
        continue;
        
    print("item: {0}".format(i))

item: 1
item: 3
item: 5
item: 7
item: 9

In [9]:
print(range(10))

range(0, 10)

In [10]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
print(list(range(5, 10)))

[5, 6, 7, 8, 9]

In [12]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [16]:
varList = ["Grape", 100, 33.7, "Apple"]

for i in range(len(varList)):
    print("idx: {0}, val: {1}".format(i, varList[i]))

idx: 0, val: Grape
idx: 1, val: 100
idx: 2, val: 33.7
idx: 3, val: Apple

In [18]:
print(numList)

range(1, 11)

In [19]:
print([i ** 2 for i in numList])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
strList = ("apple", "banana", "grape")

print([len(i) for i in strList])

[5, 6, 5]

In [21]:
strList = ("apple", "banana", "grape", "kiwi")

print([i for i in strList if len(i) > 5])

['banana']

In [22]:
numList = [10, 25, 30, 35]
for i in filter(None, numList):
    print("item: {0}".format(i))

item: 10
item: 25
item: 30
item: 35

In [23]:
def GetBiggerThan20(i):
    return i > 20

for i in filter(GetBiggerThan20, numList):
    print("item: {0}".format(i))

item: 25
item: 30
item: 35

In [24]:
for i in filter(lambda i: i > 20, numList):
    print("item: {0}".format(i))

item: 25
item: 30
item: 35

In [25]:
def Add10(i):
    return i + 10

for i in map(Add10, numList):
    print("item: {0}".format(i))

item: 20
item: 35
item: 40
item: 45

In [26]:
for i in map((lambda i: i + 10), numList):
    print("item: {0}".format(i))

item: 20
item: 35
item: 40
item: 45

In [27]:
def times(a, b):
    return a * b

print(times)
print(times(10, 10))

<function times at 0x000001BF3D2201F0>
100

In [28]:
pointerOfFunction = times
res = pointerOfFunction(10, 10)
print(res)

100

In [29]:
# buy = game_item_buy
# buy()

# buy = google_play_buy
# buy()

In [30]:
def intersect(prelist, postlist):
    retList = []
    
    for x in prelist:
        if x in postlist:
            retList.append(x)
            
    return retList

listA = "Apple"
listB = "onion"

print(intersect(listA, listB))
print(intersect(listA, ['H', 'A', 'M']))

[]
['A']

In [32]:
def swap(x, y):
    return y, x, 33.7

print(swap(3, 7))

(7, 3, 33.7)

In [34]:
glob = 1

#exchange
def xchgScope(x):
    global glob
    glob = 7
    return glob + x

print(glob)
print(xchgScope(3))
print(glob)

1
10
7

In [35]:
print((lambda x: x * x)(3))

9

In [36]:
class Person:
    name = "Default"
    
    def personPrint(self):
        print("내 이름은 {0}".format(self.name))
        
p1 = Person()
p1.personPrint()

p1.name = "홍길동"
p1.personPrint()
Person.personPrint(p1)

내 이름은 Default
내 이름은 홍길동
내 이름은 홍길동

In [40]:
class Test:
    test1 = 3
    _test2 = 7
    __test3 = 33
    
    def testPrint(self):
        print(self.__test3)
    
test = Test()

print(test.test1)
print(test._test2)
test.testPrint()

3
7
33

In [41]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def print(self):
        print("이름은 {0}, 나이는 {1}".format(self.name, self.age))
        
p = Person("고고싱", 77)

print(p.__dict__)

{'name': '고고싱', 'age': 77}

In [42]:
class Student(Person):
    def __init__(self, name, age, major):
        super(Student, self).__init__(name, age)
        self.major = major
        
    def printStudent(self):
        print("Student - name: {0}, age: {1}, major: {2}".format(self.name, self.age, self.major))
        
s = Student("고고싱", 33, "물리학")

print(s.__dict__)

{'name': '고고싱', 'age': 33, 'major': '물리학'}