In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949', error_bad_lines=False)

print(data)

C:\Users\user2\AppData\Local\Temp\ipykernel_11016\3872605386.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949', error_bad_lines=False)

          1   3.24693    2.845   EDDI   P32N21BTN77PW   2022-09-30 16:43:58  \
0         2   2.52140  2.12400   EDDI   P32N21BTN77PW   2022-09-30 16:43:59
1         3   3.23491  2.84209   EDDI   P32N21BTN77PW   2022-09-30 16:44:00
2         4   2.45989  2.07170   EDDI   P32N21BTN77PW   2022-09-30 16:44:01
3         5   2.93042  2.54691   EDDI   P32N21BTN77PW   2022-09-30 16:44:02
4         6   1.89391  1.51513   EDDI   P32N21BTN77PW   2022-09-30 16:44:03
...     ...       ...      ...    ...             ...                   ...
9994   9996   2.04672 -1.95074   EDDI   P32N21BTN77PW   2022-09-30 19:30:33
9995   9997   2.29008 -1.70329   EDDI   P32N21BTN77PW   2022-09-30 19:30:34
9996   9998   1.92280 -2.06640   EDDI   P32N21BTN77PW   2022-09-30 19:30:35
9997   9999   1.99293 -1.99202   EDDI   P32N21BTN77PW   2022-09-30 19:30:36
9998  10000   2.23829 -1.74231   EDDI   P32N21BTN77PW   2022-09-30 19:30:37

      Unnamed: 6
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
9994         NaN
9995         NaN
9996         NaN
9997         NaN
9998         NaN

[9999 rows x 7 columns]

In [3]:
data.head()

,1,3.24693,2.845,EDDI,P32N21BTN77PW,2022-09-30 16:43:58,Unnamed: 6
0,2,2.52140,2.12400,EDDI,P32N21BTN77PW,2022-09-30 16:43:59,NaN
1,3,3.23491,2.84209,EDDI,P32N21BTN77PW,2022-09-30 16:44:00,NaN
2,4,2.45989,2.07170,EDDI,P32N21BTN77PW,2022-09-30 16:44:01,NaN
3,5,2.93042,2.54691,EDDI,P32N21BTN77PW,2022-09-30 16:44:02,NaN
4,6,1.89391,1.51513,EDDI,P32N21BTN77PW,2022-09-30 16:44:03,NaN

In [4]:
data

,1,3.24693,2.845,EDDI,P32N21BTN77PW,2022-09-30 16:43:58,Unnamed: 6
0,2,2.52140,2.12400,EDDI,P32N21BTN77PW,2022-09-30 16:43:59,NaN
1,3,3.23491,2.84209,EDDI,P32N21BTN77PW,2022-09-30 16:44:00,NaN
2,4,2.45989,2.07170,EDDI,P32N21BTN77PW,2022-09-30 16:44:01,NaN
3,5,2.93042,2.54691,EDDI,P32N21BTN77PW,2022-09-30 16:44:02,NaN
4,6,1.89391,1.51513,EDDI,P32N21BTN77PW,2022-09-30 16:44:03,NaN
...,...,...,...,...,...,...,...
9994,9996,2.04672,-1.95074,EDDI,P32N21BTN77PW,2022-09-30 19:30:33,NaN
9995,9997,2.29008,-1.70329,EDDI,P32N21BTN77PW,2022-09-30 19:30:34,NaN
9996,9998,1.92280,-2.06640,EDDI,P32N21BTN77PW,2022-09-30 19:30:35,NaN
9997,9999,1.99293,-1.99202,EDDI,P32N21BTN77PW,2022-09-30 19:30:36,NaN
9998,10000,2.23829,-1.74231,EDDI,P32N21BTN77PW,2022-09-30 19:30:37,NaN

In [5]:
data.columns = ["sample_no", "voltage(V)", "current(I)", "vendor", "product_name", "reg_date", "Not Use"]

data

,sample_no,voltage(V),current(I),vendor,product_name,reg_date,Not Use
0,2,2.52140,2.12400,EDDI,P32N21BTN77PW,2022-09-30 16:43:59,NaN
1,3,3.23491,2.84209,EDDI,P32N21BTN77PW,2022-09-30 16:44:00,NaN
2,4,2.45989,2.07170,EDDI,P32N21BTN77PW,2022-09-30 16:44:01,NaN
3,5,2.93042,2.54691,EDDI,P32N21BTN77PW,2022-09-30 16:44:02,NaN
4,6,1.89391,1.51513,EDDI,P32N21BTN77PW,2022-09-30 16:44:03,NaN
...,...,...,...,...,...,...,...
9994,9996,2.04672,-1.95074,EDDI,P32N21BTN77PW,2022-09-30 19:30:33,NaN
9995,9997,2.29008,-1.70329,EDDI,P32N21BTN77PW,2022-09-30 19:30:34,NaN
9996,9998,1.92280,-2.06640,EDDI,P32N21BTN77PW,2022-09-30 19:30:35,NaN
9997,9999,1.99293,-1.99202,EDDI,P32N21BTN77PW,2022-09-30 19:30:36,NaN
9998,10000,2.23829,-1.74231,EDDI,P32N21BTN77PW,2022-09-30 19:30:37,NaN

In [6]:
data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949', error_bad_lines=False, index_col=False)

data.drop(['Unnamed: 6'], axis=1, inplace=True)

print(data)

          1   3.24693    2.845   EDDI   P32N21BTN77PW   2022-09-30 16:43:58
0         2   2.52140  2.12400   EDDI   P32N21BTN77PW   2022-09-30 16:43:59
1         3   3.23491  2.84209   EDDI   P32N21BTN77PW   2022-09-30 16:44:00
2         4   2.45989  2.07170   EDDI   P32N21BTN77PW   2022-09-30 16:44:01
3         5   2.93042  2.54691   EDDI   P32N21BTN77PW   2022-09-30 16:44:02
4         6   1.89391  1.51513   EDDI   P32N21BTN77PW   2022-09-30 16:44:03
...     ...       ...      ...    ...             ...                   ...
9994   9996   2.04672 -1.95074   EDDI   P32N21BTN77PW   2022-09-30 19:30:33
9995   9997   2.29008 -1.70329   EDDI   P32N21BTN77PW   2022-09-30 19:30:34
9996   9998   1.92280 -2.06640   EDDI   P32N21BTN77PW   2022-09-30 19:30:35
9997   9999   1.99293 -1.99202   EDDI   P32N21BTN77PW   2022-09-30 19:30:36
9998  10000   2.23829 -1.74231   EDDI   P32N21BTN77PW   2022-09-30 19:30:37

[9999 rows x 6 columns]

C:\Users\user2\AppData\Local\Temp\ipykernel_11016\3488371098.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949', error_bad_lines=False, index_col=False)

In [7]:
header = pd.Series(["sample_no", "voltage(V)", "current(I)", "vendor", "product_name", "reg_date"])
print(header)

0       sample_no
1      voltage(V)
2      current(I)
3          vendor
4    product_name
5        reg_date
dtype: object

In [8]:
header_data = pd.DataFrame([header])
print(header_data)

           0           1           2       3             4         5
0  sample_no  voltage(V)  current(I)  vendor  product_name  reg_date

In [9]:
print(data)

          1   3.24693    2.845   EDDI   P32N21BTN77PW   2022-09-30 16:43:58
0         2   2.52140  2.12400   EDDI   P32N21BTN77PW   2022-09-30 16:43:59
1         3   3.23491  2.84209   EDDI   P32N21BTN77PW   2022-09-30 16:44:00
2         4   2.45989  2.07170   EDDI   P32N21BTN77PW   2022-09-30 16:44:01
3         5   2.93042  2.54691   EDDI   P32N21BTN77PW   2022-09-30 16:44:02
4         6   1.89391  1.51513   EDDI   P32N21BTN77PW   2022-09-30 16:44:03
...     ...       ...      ...    ...             ...                   ...
9994   9996   2.04672 -1.95074   EDDI   P32N21BTN77PW   2022-09-30 19:30:33
9995   9997   2.29008 -1.70329   EDDI   P32N21BTN77PW   2022-09-30 19:30:34
9996   9998   1.92280 -2.06640   EDDI   P32N21BTN77PW   2022-09-30 19:30:35
9997   9999   1.99293 -1.99202   EDDI   P32N21BTN77PW   2022-09-30 19:30:36
9998  10000   2.23829 -1.74231   EDDI   P32N21BTN77PW   2022-09-30 19:30:37

[9999 rows x 6 columns]

In [10]:
data = pd.read_csv("mysql2csv.csv", header=None, engine='python', encoding='CP949', error_bad_lines=False, index_col=False)

data.drop([6], axis=1, inplace=True)
data.columns = ["sample_no", "voltage(V)", "current(I)", "vendor", "product_name", "reg_date"]

print(data)

      sample_no  voltage(V)  current(I) vendor    product_name  \
0             1     3.24693     2.84500   EDDI   P32N21BTN77PW
1             2     2.52140     2.12400   EDDI   P32N21BTN77PW
2             3     3.23491     2.84209   EDDI   P32N21BTN77PW
3             4     2.45989     2.07170   EDDI   P32N21BTN77PW
4             5     2.93042     2.54691   EDDI   P32N21BTN77PW
...         ...         ...         ...    ...             ...
9995       9996     2.04672    -1.95074   EDDI   P32N21BTN77PW
9996       9997     2.29008    -1.70329   EDDI   P32N21BTN77PW
9997       9998     1.92280    -2.06640   EDDI   P32N21BTN77PW
9998       9999     1.99293    -1.99202   EDDI   P32N21BTN77PW
9999      10000     2.23829    -1.74231   EDDI   P32N21BTN77PW

                  reg_date
0      2022-09-30 16:43:58
1      2022-09-30 16:43:59
2      2022-09-30 16:44:00
3      2022-09-30 16:44:01
4      2022-09-30 16:44:02
...                    ...
9995   2022-09-30 19:30:33
9996   2022-09-30 19:30:34
9997   2022-09-30 19:30:35
9998   2022-09-30 19:30:36
9999   2022-09-30 19:30:37

[10000 rows x 6 columns]

C:\Users\user2\AppData\Local\Temp\ipykernel_11016\4021159179.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv("mysql2csv.csv", header=None, engine='python', encoding='CP949', error_bad_lines=False, index_col=False)

In [11]:
data

,sample_no,voltage(V),current(I),vendor,product_name,reg_date
0,1,3.24693,2.84500,EDDI,P32N21BTN77PW,2022-09-30 16:43:58
1,2,2.52140,2.12400,EDDI,P32N21BTN77PW,2022-09-30 16:43:59
2,3,3.23491,2.84209,EDDI,P32N21BTN77PW,2022-09-30 16:44:00
3,4,2.45989,2.07170,EDDI,P32N21BTN77PW,2022-09-30 16:44:01
4,5,2.93042,2.54691,EDDI,P32N21BTN77PW,2022-09-30 16:44:02
...,...,...,...,...,...,...
9995,9996,2.04672,-1.95074,EDDI,P32N21BTN77PW,2022-09-30 19:30:33
9996,9997,2.29008,-1.70329,EDDI,P32N21BTN77PW,2022-09-30 19:30:34
9997,9998,1.92280,-2.06640,EDDI,P32N21BTN77PW,2022-09-30 19:30:35
9998,9999,1.99293,-1.99202,EDDI,P32N21BTN77PW,2022-09-30 19:30:36
9999,10000,2.23829,-1.74231,EDDI,P32N21BTN77PW,2022-09-30 19:30:37

In [14]:
import pymysql

In [12]:
import pickle

MYSQL_USER_DATA_SAVED_FILE = "mysql/userinfo"

f = open(MYSQL_USER_DATA_SAVED_FILE, 'rb')
mysql_user_info = pickle.load(f)
f.close()

In [16]:
# 테이블이 이미 지워졌다면 에러가 발생할 것임
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    drop table power_data
"""

cursor.execute(sql)

db.close()

OperationalError: (1051, "Unknown table 'pydb.power_data'")

In [17]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    create table power_data(
        no integer not null auto_increment primary key,
        voltage float not null,
        current float not null,
        vendor text null,
        name text not null,
        reg_date timestamp not null default now()
    )
"""

cursor.execute(sql)

db.commit()
db.close()

print('float 형태의 전력 데이터 관리 테이블 생성 성공!')

float 형태의 전력 데이터 관리 테이블 생성 성공!

In [19]:
import csv

In [27]:
f = open('mysql2csv.csv', 'r', encoding='UTF-8')
csv_reader = csv.reader(f, delimiter=',')

print(csv_reader)

<_csv.reader object at 0x0000025A171414C0>

In [28]:
cnt = 0

db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
        
    #print(row)
    sample_no = (row[0])
    voltage = (row[1])
    current = (row[2])
    vendor = (row[3])
    product_name = (row[4])
    reg_date = (row[5])
    
    #print(sample_no, voltage, current, vendor, product_name, reg_date)
    
    sql = """
        insert into power_data (no, voltage, current, vendor, name, reg_date) values (%s, %s, %s, %s, %s, %s)
    """
    
    cursor.execute(sql, (sample_no, voltage, current, vendor, product_name, reg_date))

db.commit()

f.close()
db.close()

In [30]:
# 카카오 개발자 사이트로 이동
# https://developers.kakao.com/
# 로그인
# 내 애플리케이션
# 애플리케이션 추가하기
# 앱 이름 및 사업자등록번호상 사업주 작성
# 생성 이후 만든 녀석 클릭
# 여러가지 키 값들이 보임

In [31]:
# 카톡 메시지 연동
# 애플리케이션 'kh-본인이름' 으로 이동
# 카카오 로그인 활성화 설정 ON
# 동의항목 - 닉네임: 필수
# 동의항목 - 카카오계정(이메일): 선택 동의
# 동의항목 - 카톡 서비스 친구목록: 이용 중 동의
# 동의항목 - 메시지 전송: 선택 동의
# 카카오 로그인 - Redirect URI -> https://localhost.com
# 플랫폼 - Web -> https://localhost.com

In [ ]:
# 토큰 발급
# /oauth/authorize?client_id=${REST_API_KEY}&redirect_uri=${REDIRECT_URI}&response_type=code
# Host
# kauth.kakao.com
# 아래 URL로 요청을 보내면 토큰을 발급 받을 수 있게 된다.

# https://kauth.kakao.com/oauth/authorize?client_id=${REST_API_KEY}&redirect_uri=https://localhost.com&response_type=code
# REST_API_KEY는 사람마다 다르니까 구별해서 배치하도록 한다.
# 이 부분은 공개하면 해킹당하니까 주의하도록 한다.

# https://kauth.kakao.com/oauth/authorize?client_id=12312312312312312312312&redirect_uri=https://localhost.com&response_type=code
# 입력후 나온 결과가 URL상에 있음
# code=  <<< 뒷 부분을 싹 복사해서 아래쪽 code에 배치한다.

In [32]:
import requests

url = "https://kauth.kakao.com/oauth/token"

data = {
    "grant_type": "authorization_code",
    "client_id": "YourRestAPI",
    "redirect_uri": "https://localhost.com",
    "code": "토큰발급으로 나타난 결과"
}

response = requests.post(url, data=data)

if response.status_code != 200:
    print("에러!")
else:
    token = response.json()
    print(token)
    # tokens라고 해서 에러났음(token 받은 상태)

NameError: name 'tokens' is not defined

In [ ]:
print(token)

In [1]:
import json
import datetime
import os

# jupyter notebook 구동되는 위치에 kakao_msg 디렉토리 만들어야함
KAKAO_TOKEN_SAVED_FILE = "kakao_msg/kakao_token.json"

def save_tokens(file, token):
    with open(file, "w") as fp:
        json.dump(token, fp)
        
def load_tokens(file):
    with open(file) as fp:
        token = json.load(fp)
        
    return token

save_tokens(KAKAO_TOKEN_SAVED_FILE, token)

In [3]:
from time import sleep
import requests

In [4]:
token = load_tokens(KAKAO_TOKEN_SAVED_FILE)

url = "https://kapi.kakao.com/v2/api/talk/memo/default/send"

headers = {
    "Authorization": "Bearer " + token['access_token']
}

data = {
    "template_object": json.dumps({
        "object_type": "text",
        "text": "메시지 테러",
        "link": {
            "web_url": "https://www.youtube.com/watch?v=jb-LYIlazzk"
        },
        "button_title": "여윽시"
    })
}

data2 = {
    "template_object": json.dumps({
        "object_type": "list",
        "header_title": "WEEKELY MAGAZINE",
        "header_link": {
            "web_url": "http://www.daum.net",
            "mobile_web_url": "http://m.daum.net",
            "android_execution_params": "main",
            "ios_execution_params": "main"
        },
        "contents": [
            {
                "title": "자전거 라이더를 위한 공간",
                "description": "매거진",
                "image_url": "https://mud-kage.kakao.com/dn/QNvGY/btqfD0SKT9m/k4KUlb1m0dKPHxGV8WbIK1/openlink_640x640s.jpg",
                "image_width": 640,
                "image_height": 640,
                "link": {
                    "web_url": "http://www.daum.net/contents/1",
                    "mobile_web_url": "http://m.daum.net/contents/1",
                    "android_execution_params": "/contents/1",
                    "ios_execution_params": "/contents/1"
                }
            },
            {
                "title": "비쥬얼이 끝내주는 오레오 카푸치노",
                "description": "매거진",
                "image_url": "https://mud-kage.kakao.com/dn/boVWEm/btqfFGlOpJB/mKsq9z6U2Xpms3NztZgiD1/openlink_640x640s.jpg",
                "image_width": 640,
                "image_height": 640,
                "link": {
                    "web_url": "http://www.daum.net/contents/2",
                    "mobile_web_url": "http://m.daum.net/contents/2",
                    "android_execution_params": "/contents/2",
                    "ios_execution_params": "/contents/2"
                }
            }
        ]
    })
}

for i in range(1):
    response = requests.post(url, headers=headers, data=data)
    sleep(1)
    print(response.status_code)

401

In [ ]:
# 친구 메시지 보내기
# https://kauth.kakao.com/oauth/authorize?client_id=1243934573496367396347986&redirect_uri=https://localhost.com&response_type=code&scope=talk_message,friends
# 결론적으로 기존 개인 메시지와 차이점이라면 &scope=talk_message,friends 이 추가되었다는 부분이다.

In [51]:
# 23095w7eorsufosdgusldfuglsdfuglssdfgosd983467834068eprgpsfghlsdfgu30463846udgld
KAKAO_FRIENDS_TOKEN_SAVED_FILE = "kakao_msg/kakao_friends_token.json"

import requests

url = "https://kauth.kakao.com/oauth/token"

data = {
    "grant_type": "authorization_code",
    "client_id": "MyRestAPI",
    "redirect_uri": "https://localhost.com",
    "code": "발급된토큰"
}

response = requests.post(url, data=data)

if response.status_code != 200:
    print("에러!")
else:
    token = response.json()
    print(token)
    # tokens라고 해서 에러났음(token 받은 상태)
    
save_tokens(KAKAO_FRIENDS_TOKEN_SAVED_FILE, token)

{'access_token': 'evcJJ__dJcDN8i3TEy_-ji_IVl1Mdopghn_V6OQGCj11mgAAAYOn3R_B', 'token_type': 'bearer', 'refresh_token': 'LAIh48XUy9ckFrO2278g6RLI1tP_JZRfpvJ2NHTyCj11mgAAAYOn3R_A', 'expires_in': 21599, 'scope': 'account_email talk_message profile_nickname friends', 'refresh_token_expires_in': 5183999}

In [56]:
# 카카오 앱에서 팀원 초대 이후 -> 팀원 메일로 초대가 날아가며 이를 승인해야 작업이 가능함
token = load_tokens(KAKAO_FRIENDS_TOKEN_SAVED_FILE)

friends_url = "https://kapi.kakao.com/v1/api/talk/friends"

headers = {
    "Authorization": "Bearer " + token['access_token']
}

res = json.loads(requests.get(friends_url, headers=headers).text)
print(type(res))

friends_list_uuid = []
friends_list = res.get("elements")

for i in range(len(friends_list)):
    friends_list_uuid.append(friends_list[i].get("uuid"))
    
print(friends_list_uuid)

<class 'dict'>
[]

In [ ]:
# 현재 카카오 정책상 친구 보내기가 상당히 애매해짐
# 과거에는 하루에 30개인가 50개까지 공짜로 가능했음
# url = "https://kapi.kakao.com/v1/api/talk/friends/message/default/send"

# 자기 자신에게 메시지 보내기는 아래 문서를 참고해서 기능을 조금 더 추가할 수 있다.
# https://developers.kakao.com/docs/latest/ko/message/rest-api